{% extends 'grocer/includes/base.html' %}
{% block content %}
<main class="main-content">

    <section class="home-slider-area slider-default">
        <div class="home-slider-content">
          <div class="swiper-container home-slider-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <!-- Start Slide Item -->
                <div class="home-slider-item">
                  <div class="thumb-one bg-img" data-bg-img="static/img/slider/s1-2.webp"></div>
                  <div class="slider-content-area">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-10 offset-xl-2 offset-lg-1 text-center">
                          <div class="content">
                            <div class="inner-content animate-style2">
                              <div class="wrap-one">
                                <h5>Colorful Fresh Fruits Vegetables</h5>
                              </div>
                              <div class="wrap-two">
                                <h2>One Must Eat To Live</h2>
                              </div>
                              <div class="wrap-three">
                                <h2>Not Live To Eat  40% off</h2>
                              </div>
                              <div class="wrap-four">
                                <a href="#" class="btn-theme">Shop Now</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Slide Item -->
              </div>
              <div class="swiper-slide">
                <!-- Start Slide Item -->
                <div class="home-slider-item">
                  <div class="thumb-one bg-img" data-bg-img="static/img/slider/s1-1.webp"></div>
                  <div class="slider-content-area slider-content-item2">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-9 offset-lg-3">
                          <div class="content">
                            <div class="inner-content animate-style1">
                              <div class="wrap-one">
                                <h5>Colorful Fresh Fruits Vegetables</h5>
                              </div>
                              <div class="wrap-two">
                                <h2>One Must Eat To Live</h2>
                              </div>
                              <div class="wrap-three">
                                <h2>Not Live To Eat 40% off</h2>
                              </div>
                              <div class="wrap-four">
                                <a href="#" class="btn-theme">Shop Now</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Slide Item -->
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>

      <div class="category-area product-category1-area">
        <div class="container">
          <div class="row category-items1 justify-content-center">
            <div class="col-md-4 col-sm-6">
              <div class="category-item mb-sm-30">
                <div class="thumb effect-animate-flash">
                  <a href="#"><img src="static/img/category/1.jpg" alt="Image" width="370" height="210"></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="category-item mb-sm-30">
                <div class="thumb effect-animate-flash">
                  <a href="#"><img src="static/img/category/2.jpg" alt="Image" width="370" height="210"></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="category-item mb-sm-30">
                <div class="thumb effect-animate-flash">
                  <a href="#"><img src="static/img/category/3.jpg" alt="Image" width="370" height="210"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="product-area product-style1-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="product-tab-content">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="our-features-tab" data-bs-toggle="tab" data-bs-target="#our-features" type="button" role="tab" aria-controls="our-features" aria-selected="true">Featured Products</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="best-sellers-tab" data-bs-toggle="tab" data-bs-target="#best-sellers" type="button" role="tab" aria-controls="best-sellers" aria-selected="false">New Arrival</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="new-items-tab" data-bs-toggle="tab" data-bs-target="#new-items" type="button" role="tab" aria-controls="new-items" aria-selected="false">Best Sellers</button>
                  </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="our-features" role="tabpanel" aria-labelledby="our-features-tab">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="product">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="product-slider-content">
                                <div class="swiper-container product-slider-container swiper-pagination-style2">
                                  <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="#">
                                            <img src="static/img/shop/1.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="static/img/shop/2.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-discount">-9%</span>
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price-old">$65.30</span>
                                            <span class="price">$59.42</span>
                                          </div>
                                          <h6 class="title"><a href="#">Sante Granola with chocolate</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="#">
                                            <img src="static/img/shop/2.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="static/img/shop/3.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price price-style2">$55.10</span>
                                          </div>
                                          <h6 class="title"><a href="#">Purple Grape width 12 Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="#">
                                            <img src="static/img/shop/4.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="static/img/shop/5.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price price-style2">$29.00</span>
                                          </div>
                                          <h6 class="title"><a href="#">Mushroom Burger widt 11 Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="">
                                            <img src="static/img/shop/6.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="static/img/shop/7.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price price-style2">$29.00</span>
                                          </div>
                                          <h6 class="title"><a href="#">Fusce nec facilisi width 1 Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="#">
                                            <img src="static/img/shop/3.jpg" alt="Image" width="360" height="360">
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-discount">-9%</span>
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price-old">$45.30</span>
                                            <span class="price">$41.68</span>
                                          </div>
                                          <h6 class="title"><a href="#">Fusion Backpack width Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                  </div>
                                  <!-- Add Pagination -->
                                  <div class="swiper-pagination"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="best-sellers" role="tabpanel" aria-labelledby="best-sellers-tab">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="product">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="product-slider-content">
                                <div class="swiper-container product-slider-container swiper-pagination-style2">
                                  <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="s#">
                                            <img src="static/img/shop/16.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="static/img/shop/13.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price price-style2">$54.00</span>
                                          </div>
                                          <h6 class="title"><a href="#">Mug Today is a good day Granola1</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="#">
                                            <img src="static/img/shop/14.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="static/img/shop/15.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price price-style2">$52.00</span>
                                          </div>
                                          <h6 class="title"><a href="#">Donec sem tellus with 4 Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="#">
                                            <img src="static/img/shop/17.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="static/img/shop/15.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price price-style2">$52.42</span>
                                          </div>
                                          <h6 class="title"><a href="#">Donec sem tellus with 3 Granola</a></h6>
                                          <div class="rating">
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                            <span class="icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="#">
                                            <img src="static/img/shop/9.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="static/img/shop/10.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price price-style2">$35.60</span>
                                          </div>
                                          <h6 class="title"><a href="#">Mushroom noodles  with 2 Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="#">
                                            <img src="static/img/shop/12.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="static/img/shop/7.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-discount">-8%</span>
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price-old">$75.60</span>
                                            <span class="price">$69.00</span>
                                          </div>
                                          <h6 class="title"><a href="#">Fusion Backpack with 2 Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                  </div>
                                  <!-- Add Pagination -->
                                  <div class="swiper-pagination"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="new-items" role="tabpanel" aria-labelledby="new-items-tab">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="product">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="product-slider-content">
                                <div class="swiper-container product-slider-container swiper-pagination-style2">
                                  <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="shop-single-product.html">
                                            <img src="assets/img/shop/13.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="assets/img/shop/8.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-discount">-8%</span>
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price-old">$45.30</span>
                                            <span class="price">$41.68</span>
                                          </div>
                                          <h6 class="title"><a href="shop-single-product.html">Fusce nec facilisi with 1 Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="shop-single-product.html">
                                            <img src="assets/img/shop/11.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="assets/img/shop/6.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-discount">-7%</span>
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price-old">$47.30</span>
                                            <span class="price">$44.00</span>
                                          </div>
                                          <h6 class="title"><a href="shop-single-product.html">Mushroom Burger with 4 Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="shop-single-product.html">
                                            <img src="assets/img/shop/15.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="assets/img/shop/3.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price price-style2">$59.42</span>
                                          </div>
                                          <h6 class="title"><a href="shop-single-product.html">Attribute Variation with 14 Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="shop-single-product.html">
                                            <img src="assets/img/shop/8.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="assets/img/shop/2.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-discount">-9%</span>
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price-old">$35.60</span>
                                            <span class="price">$31.00</span>
                                          </div>
                                          <h6 class="title"><a href="shop-single-product.html">Sante Granola with 14 Granola</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                    <div class="swiper-slide">
                                      <!-- Start Product Item -->
                                      <div class="product-item product-animation">
                                        <div class="product-thumb">
                                          <a href="shop-single-product.html">
                                            <img src="assets/img/shop/1.jpg" alt="Image" width="360" height="360">
                                            <span class="bg-thumb" data-bg-img="assets/img/shop/2.webp"></span>
                                          </a>
                                          <div class="ribbons">
                                            <span class="ribbon ribbon-discount">-9%</span>
                                            <span class="ribbon ribbon-new">new</span>
                                          </div>
                                        </div>
                                        <div class="product-info">
                                          <div class="product-info-action">
                                            <button class="action-bag" type="button" data-bs-toggle="modal" data-bs-target="#action-CartAddModal"> <i class="icon-handbag icons"></i></button>
                                            <button class="action-wishlist" type="button" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="icon-heart icons"></i></button>
                                            <button class="action-compare" type="button" data-bs-toggle="modal" data-bs-target="#action-CompareModal"><i class="icon-shuffle icons"></i></button>
                                            <button class="action-quick-view" type="button" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal"><i class="icon-magnifier icons"></i></button>
                                          </div>
                                          <div class="prices">
                                            <span class="price-old">$65.60</span>
                                            <span class="price">$59.00</span>
                                          </div>
                                          <h6 class="title"><a href="shop-single-product.html">Sante Granola with chocolate</a></h6>
                                          <div class="rating">
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                            <span class="rating-color icon-star"></span>
                                          </div>
                                        </div>
                                      </div>
                                      <!-- End Product Item -->
                                    </div>
                                  </div>
                                  <!-- Add Pagination -->
                                  <div class="swiper-pagination"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

</main>
{% endblock %}